p
{
    color:black;
}
span
{
    color:aqua;
    font-weight:bold;
    font-style:italic;
}
li
{
    color:crimson;
}
.content{
    color:darkgray;
    font-weight:bold;
}
.condition{
    color:burlywood;
    font-weight:bold;
}
.change{
    color:deepskyblue;
    font-weight:bold;
}
.range
{
    color:darkslategray;
    font-weight:bold;
}
